    a
    {
        text-decoration: none;
        color: #000;
    }
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    img{
        height: 100%;
        width: 100%;
    }
    .dropdown-toggle::after {
        display: none;
      }
      .dropdown:hover .dropdown-menu {
        display: block;
      }
      .btn:focus{
        border: none;
        outline: none;
      }
    /* header */
    header{
        position: fixed;
        width: 100%;
        background-color: #fff;
        z-index: 111;
    }
    .logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .logo > img{
        height: 16px;
    }
    .inner-headaer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0px;
        position: relative;
    }
    .inner-headaer .menu{
        display: flex;
        padding: 0px 65px;
        gap: 20px;
    }
    .menu a {
        color: #686868;
    }
    .menu a:hover{
        color: #000;
    }
    .cat-label{
        position: relative;
        top: -7px;
    }
    .right-btn{
        display: flex;
        gap: 20px;
        padding-right: 50px;
    }
    .right-btn a{
        color: #686868;
    }
    .right-btn a:hover{
        color: #000;
    }
    .right-btn .count{
        position: relative;
        top: -7px;
    }
    /* hero */
    .hero-banner{
        max-width: 370px;
        margin-left: 80px;
    }
    .banner-title{
        margin-bottom: 20px;
        font-size: 28px;
        text-transform: capitalize;
    }
    .banner-btn{
        text-transform: capitalize;
        font-size: 20px;
        line-height: 1.4;
        color: #888;
        margin-top: 16px;
        margin-bottom: 6px;
        padding: 0 0 3px 0;
        border-bottom: 1px solid #cfcfcf;
        transition: all 0.5s ease-in-out;
    }

    .banner-btn:hover{
        color: #DC9814;
    }

    /* product */
    .shop-menu{
        padding-left: 55px;
    }
    .shop-menu-search{
        position: relative;
        top: 2px;
        left: -7px;
        color: #6868685e;
        display: inline-block;
        margin-top: -20px;
        font-size: 12px;
        transform: rotate(90deg);
    }
    .col-auto a{
        font-size: 18px;
        color: #686868 ;
    }
    .col-auto a:hover{
        color: #DC9814;
    }
    .text-muted{
        font-size: 14px;
    }
    .shop-search form input{
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 26px;
    }
    ::placeholder{
        color: #686868bb;
    }
    /* product items */
    /* filter_menu */
    .filter_menu{
        display: none;
    }
    .filter_menu-title > h5{
        margin: 0;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .filter_menu ul{
        margin-top: 15px;
        line-height: 1.6;
    }
    .filter_menu a{
        font-size: 14px;
        color: #686868;
        transition: all 0.3s ease-in-out;
    }
    .filter_menu a:hover{
        color: #DC9814;
    }
    .tags-btns > a{
        font-size: 12px !important;
        line-height: 2.5;
        margin: 0 6px 6px 0;
        padding: 5px 10px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        background: #282828;
        color: #FFFFFF;
        transition:  all 0.3s ease-in-out;
    }
    .tags-btns > a:hover{
        background-color: #DC9814;
        color: #fff;
    }
    .product-detail{
        padding-top: 18px;
    }
    .product-detail a{
        color: #686868;
    }
    .product-detail h5{
        font-size: 16px;
    }
    .product-item{
        position: relative;
        cursor: pointer;
        transition: all 1s ease-in-out;
    }
    .product-item-overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
    .product-item:hover .product-item-overlay{
        opacity: 1;
    }
    .show-product-detail-btn{
        position: absolute;
        bottom: 11px;
        line-height: 2;
        margin-top: 5px;
        opacity:  0;
    }
    .show-product-detail-btn a{
        border-bottom: 1px solid #cfcfcf;
        margin-top: 8px;
        display: inline-block;
        color: #686868;
        transition:  all 1s ease-in-out;
    }
    .show-product-detail-btn a:hover{
        color: #DC9814;
    }
    .product-item:hover .show-product-detail-btn{
        opacity: 1;
    }
    .load_more_btn{
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        line-height: 62px;
        margin: 17px 0 36px;
        text-align: center;
    }
    .filter-result{
        display: none;
        margin-bottom: 20px;
    }
.filter-result ul{
    position: relative;
    max-width: 350px;
    border: 1px solid #282828;
    display: inline-block;
    color: inherit;
    line-height: 1.4;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
    overflow: hidden;
    padding: 5px 14px 5px 37px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    text-decoration: line-through;
}
.filter-result a {
    color: #686868;
    font-size: 15px;
    cursor: pointer;
}
.filter-result ul:hover{
    border:  1px solid #000;
}
.filter-result ul li a:hover{
    color: #000;
}
.filter-result a::before{
    content: "\2716";
    display: block;
  position: absolute;
  top: 7px;
  left: 12px;
  font-family: 'nm-font';
  font-size: 15px;
  color: #686868 ;
}
.colors .color{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 9px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.blue{
    background-color: #1e73be ;
}
.brown{
    background-color: #736751;
}
.green{
    background: #05ac92;
}
.gray{
    background-color: #c0c0c0;
}
.orange{
    background-color: #dc9814;
}
.white{
    background-color: white;
}
.colors li a::before{
    content: "\2716";
    font-size: 10px;
    font-weight: normal;
    opacity: 0;

}
.colors li a:focus::before{
    opacity: 1;
}
.colors li a:focus{
    position: relative;
  display: inline-block;
  color: #dc9814;
  padding: 2px 11px 3px 12px;
  border: 1px solid #dc9814;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-top: 3px;
  transform: all 0.5s linear;
}
