
a {
  text-decoration: none;
  color: #000;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  height: 100%;
  width: 100%;
}
body{
    font-family: Arial, sans-serif;
}
/* .row {
  margin: 0;
  padding: 0;
} */
.dropdown-toggle::after {
  display: none;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.btn:focus {
  border: none;
  outline: none;
}
/* header */
header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 111;
}
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logo > img {
  height: 16px;
}
.inner-headaer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
  position: relative;
}
.inner-headaer .menu {
  display: flex;
  /* padding: 0px 40px; */
  gap: 20px;
}
.menu a {
  color: #686868;
  font-size: 15px;
  font-family: 'MaisonNeue',sans-serif;
}
.menu a:hover {
  color: #000;
}

/* Shop Sub menu  */
.sub-menu{
  padding: 18px 5px;
  width: 500px;
  background-color: #282828;
  text-transform: capitalize;
  position: fixed;
  left: 159px;
  top: 58px;
}
.sub-menu .meni-item > h6 > a {
  color: #fff;
  font-size: 16px;
}
.sub-menu .sub-menu1{
  line-height: 33px;
}
.sub-menu1 li > a 
{
  color: #ffffff4b;
}
.dropdown-menu{
  border-radius: 0;
}
.dropdown-item:focus, .dropdown-item:hover{
  background-color: #282828;
}
.sub-menu h6{
  font-size: 16px;
  color: #fff !important;
}
.cat-label {
  position: relative;
  top: -7px;
}
.right-btn {
  display: flex;
  gap: 20px;
  /* padding-right: 22px; */
}
.right-btn a {
  color: #686868;
}
.right-btn a:hover {
  color: #000;
}
.right-btn .count {
  position: relative;
  top: -7px;
}
/* cart  */
.cart-content{
  padding: 20px;
  height: 100vh;
  background-color: #333;
  width: 410px;
  position: fixed;
  z-index: 111111111;
  right: 0; 
  top: 0;
  transition: right 0.5s ease; 
}

.cart-btn{
  border-bottom: 1px solid #464646;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 24px;
}
.cart-btn > button{
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 15px;
}
.empty{
  text-align: center;
  padding: 28px 0px;
  color: #eee;
}
.empty > i {
  display: block;
  font-size: 20px;
  line-height: 29px;
  width: 50px;
  height: 50px;
  margin: 0 auto 21px;
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(238, 238, 238, 0.09);
}
.continue-shopping{
  padding: 12px;
  border: 1px solid #aaa;
  background-color: transparent;
  width: 90%;
  color: #eee;
  position: absolute;
  bottom: 29px;
  left: 21px;
}
 /* cart shopping quntity  */
 .showe_cart-conten{
  padding: 20px;
  height: 100vh;
  background-color: #333;
  width: 410px;
  position: fixed;
  z-index: 111111111;
  right: 0; 
  top: 0;
  transition: right 0.5s ease; 
}


 .productImg{
  width: 60px;
 }
 .show-product{
   display: flex;
   padding: 25px 0px;
   gap: 20px;
 }
 .productDetail{
  width: 100%;
 }
 .removeProduct > i{
  color: #a5a5a5;
  cursor: pointer;
 }
 .productDetail .producttitle{
  padding: 5px 0px;
  font-family: 'MaisonNeue',sans-serif;
  margin: 0;
 }
 .quntity input[type="number"]{
  -moz-appearance: textfield;
  appearance: textfield;
  width: 20px;
  color: #a5a5a5;
  vertical-align: top;
  padding: 0;
  border: none;
  text-align: center;
  background: none;
  height: auto;
  outline: none;
  position: relative;
 }
 .inputdiv{
  margin-left: 5px;
 }
 .inputdiv::before{
   /* content: "\e615"; */
   content: "\21D0";
  color: #a5a5a5;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  left: 5px;
 }
 .inputdiv::after{
  content: "\21D2";
 color: #a5a5a5;
 display: inline-block;
 font-size: 16px;
 cursor: pointer;
 margin-left: 2px;
}
 .quntity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
 }
 .quntity .productNamber{
  display: flex;
  align-items: center;
 }
 .productNamber > p{
  color: #a5a5a5;
 }
  .down-btns{
    color: #fff;
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
  }
  .down-btns > button{
    border: none;
    outline: none;
    border: 1px solid #aaaaaa57;
    background-color: transparent;
    color: #fff;
    padding: 12px;
  }
  .down-btns .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #aaaaaa2c;
    border-bottom: 1px solid #aaaaaa2c;
    padding: 18px 0px;
    margin-bottom: 10px;
  }
  .total > p{
    margin: 0;
  }
  .down-btns .viewCart-btn:hover{
    border: 1px solid #aaaaaacb;
    transition:  border 0.5s ease;
  }
  .down-btns .checkout-btn{
    border: none;
    background-color: #000;
    transition: background-color 0.5s ease-in-out;
  }
  .down-btns .checkout-btn:hover{
    background-color: #000000af;
  }
/* logIn page  */
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 111;
}
.popup-content {
    background: white;
    padding: 33px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 35%;
    height: auto;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;

}
.popup-content .close{
    position: absolute;
    top: 15px;
    right: 13px;
}
.popup-content .close > i{
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}
.popup-content h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px 0px;
}

.popup-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ced4da;
    outline: none;
}
.popup-content input:focus{
    outline: none;
}
.popup-content input[type="checkbox"]
{
    width: inherit;  
    margin: 0;
    padding: 0;
}

.popup-content label {
    display: block;
    color: #495057;
    padding-bottom: 10px;
    font-size: 14px;
}

.popup-content label input {
    margin-right: 10px;
}

.popup-content a {
    font-size: 14px;
    line-height: 28px;
}
.popup-content button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}
.popup-content .submit-btn {
    background: black;
    color: white;
}
.popup-content .submit-btn:hover {
    background: #333;
}
.divider-main{
    text-align: center;
    position: relative;
    padding: 10px 0px;
    z-index: 11;
}
.divider-main > p{
    margin: 0;
    display: inline-block;
    background: #fff;
    padding: 0px 5px;
}
.divider-main::before{
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    content: " ";
    width: 100%;
    height: 1px;
    background: #ccc;
    z-index: -1;
    
}
.popup-content .transparent-btn {
    background: transparent;
    color: black;
    border: 1px solid #ced4da;
}

.popup-content .transparent-btn:hover {
    background: rgba(0, 0, 0, 0.05);
}

/* hero */
.hero-banner {
  max-width: 370px;
  margin-left: 80px;
  top: 41%;
  left: 5%;
}
.banner-title {
  margin-bottom: 20px;
  font-size: 28px;
  text-transform: capitalize;
}
.banner-btn {
  text-transform: capitalize;
  font-size: 20px;
  line-height: 1.4;
  color: #888;
  margin-top: 16px;
  margin-bottom: 6px;
  padding: 0 0 3px 0;
  border-bottom: 1px solid #cfcfcf;
  transition: all 0.5s ease-in-out;
}

.banner-btn:hover {
  color: #dc9814;
}

/* product */
.shop-menu-search {
  position: relative;
  top: 2px;
  left: 0px;
  color: #6868685e;
  display: inline-block;
  margin-top: -20px;
  font-size: 12px;
  transform: rotate(90deg);
}
.col-auto a {
  font-size: 18px;
  color: #686868;
}
.col-auto a:hover {
  color: #dc9814;
}
.text-muted {
  font-size: 14px;
}
.shop-search form input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 26px;
}
::placeholder {
  color: #686868bb;
}
/* product items */
/* filter_menu */
.filter_menu {
  display: none;
}
.filter_menu-title > h5 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
}
.filter_menu ul {
  margin-top: 15px;
  line-height: 1.6;
}
.filter_menu a {
  font-size: 14px;
  color: #686868;
  transition: all 0.3s ease-in-out;
}
.filter_menu a:hover {
  color: #dc9814;
}
.tags-btns > a {
  font-size: 12px !important;
  line-height: 2.5;
  margin: 0 6px 6px 0;
  padding: 5px 10px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background: #282828;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.tags-btns > a:hover {
  background-color: #dc9814;
  color: #fff;
}
.product-detail {
  padding-top: 18px;
}
.product-detail a {
  color: #686868;
}
.product-detail h5 {
  font-size: 16px;
}
.product-item {
  position: relative;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.product-item .color {
  position: absolute;
  top: 5px;
  left: 15px;
  z-index: 11;
}
.product-item .color > a {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
}
.product-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.product-item:hover .product-item-overlay {
  opacity: 1;
}
.show-product-detail-btn {
  position: absolute;
  bottom: 11px;
  line-height: 2;
  margin-top: 5px;
  opacity: 0;
}
.show-product-detail-btn a {
  border-bottom: 1px solid #cfcfcf;
  margin-top: 8px;
  display: inline-block;
  color: #686868;
  transition: all 1s ease-in-out;
}
.show-product-detail-btn a:hover {
  color: #dc9814;
}
.product-item:hover .show-product-detail-btn {
  opacity: 1;
}
.load_more_btn {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  line-height: 62px;
  margin: 17px 0 36px;
  text-align: center;
}
.filter-result {
  display: none;
  margin-bottom: 20px;
}
.filter-result ul {
  position: relative;
  max-width: 350px;
  border: 1px solid #282828;
  display: inline-block;
  color: inherit;
  line-height: 1.4;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
  overflow: hidden;
  padding: 5px 14px 5px 37px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-decoration: line-through;
}
.filter-result a {
  color: #686868;
  font-size: 15px;
  cursor: pointer;
}
.filter-result ul:hover {
  border: 1px solid #000;
}
.filter-result ul li a:hover {
  color: #000;
}
.filter-result a::before {
  content: "\2716";
  display: block;
  position: absolute;
  top: 7px;
  left: 12px;
  font-family: "nm-font";
  font-size: 15px;
  color: #686868;
}
.colors .color {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 9px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.blue {
  background-color: #1e73be;
}
.brown {
  background-color: #736751;
}
.green {
  background: #05ac92;
}
.gray {
  background-color: #c0c0c0;
}
.orange {
  background-color: #dc9814;
}
.white {
  background-color: white;
}
.colors li a::before {
  content: "\2716";
  font-size: 10px;
  font-weight: normal;
  opacity: 0;
}
.colors li a:focus::before {
  opacity: 1;
}
.colors li a:focus {
  position: relative;
  display: inline-block;
  color: #dc9814;
  padding: 2px 11px 3px 12px;
  border: 1px solid #dc9814;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-top: 3px;
  transform: all 0.5s linear;
}
/* footer */
.footer {
  background-color: #282828;
  padding: 40px;
}
.footer ul li a {
  color: #aaaaaa;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}
.footer ul li a:hover {
  color: #fff;
}
.footer-social-icon .fab {
  font-size: 25px;
}
